
#FirstBlock{ /*Присваивание стиля по ID*/
    display: block;
    width: 300px;
    height: 200px;
    background:linear-gradient(45deg,#ff00f1 0%, #ff0000 100%);
    border-radius: 20px;
    box-shadow: 0 0 25px;
    transition: .8s ease;
    margin:auto;
    margin-bottom: 50px;
    position: relative;
}
#FirstBlock:hover{ /*Анимация при наведении мышкой по ID с помощью hover*/
    display: block;
    width: 300px;
    height: 200px;
    background:linear-gradient(270deg,#ff00f1 0%, #ff0000 100%);
    background-position: 100%;
    border-radius: 10px;
    box-shadow: 0 0 25px;
    margin:auto;
    margin-bottom: 50px;
    transform: rotate(180deg) scaleX(1.5);
    transition: .4s ease;
}
.glowblocks{ /* присваивание псевдоклассу стиля*/
    border-radius:10px;
    width:300px;
    height:200px;
    background: white;
    box-shadow: 0 0 65px rgba(255,255,255,.2);
    margin:auto;
    margin-bottom: 50px;
    transition: .5s;
}
.glowblocks:hover{ /* присваивание псевдоклассу стиля*/
    border-radius:10px;
    background: white;
    box-shadow: 0 0 65px rgba(255,255,255,.3);
    margin:auto;
    margin-bottom: 50px;
    transition:.5s;
    transform: rotate3d(0,1,0,180deg) scaleX(3);
}
.testtext p:first-child{ /*Присваивание стиля первому дочернему элементу*/
    color: blue;
    text-shadow: 0 0 15px rgba(255,255,255,1);
    font-size:25px;
    text-align: center;
}
.testtext p:last-child{ /*Присваивание стиля второму дочернему элементу*/
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,1);
    text-align: center;
}
body{
    background-color: #16181f;
    transition: .5s;
}
body:hover{
    background-color: #0b101d;
    transition: .5s;
}
.testtext{
    width:300px;
    height:200px;
    background:linear-gradient(270deg,#ff00f1 0%, #ff0000 100%);
    border-radius:10px;
    margin:auto;
    margin-bottom: 50px;
}
#first, #second{ /*группировка селекторов*/
    width:200px;
    height:200px;
    border-radius:50px;
    background-color:red;
    box-shadow: 0 0 30px rgba(206,109,109,.5);
    margin:auto;
    margin-bottom: 50px;
}
hr{
    height:5px;
    background-color: white;
}
ul{
    display:block;
    background-color: white;
    border-radius:10px;
    justify-content: center;
    display: flex;
    font-size:25px;
}
ul li{
    margin: 0 auto;
    font-size:25px;
}